{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">El mejor contenido para aprender</span>
            <span class="section-heading-lower">Las mejores capacitaciones para que aprendas desde tu hogar</span>
          </h2>
          <p class="mb-3">aca se puede poner un texto descriptivo
          </p>
         
        </div>
      </div>
    </div>
  </section>






  <p  style="color: white;" > aca se pueden agregar fotos mostrando mas sobre el servicios   </p>




  <p  style="color: white;" > aca se pueden agregar fotos mostrando mas sobre el servicios   </p>






  <p  style="color: white;" > aca se pueden agregar fotos mostrando mas sobre el servicios   </p>









  <p  style="color: white;" > aca se pueden agregar fotos mostrando mas sobre el servicios   </p>





  <p  style="color: white;" > aca se pueden agregar fotos mostrando mas sobre el servicios   </p>





  <p  style="color: white;" > aca se pueden agregar fotos mostrando mas sobre el servicios   </p>


  



  <p  style="color: white;" > aca se pueden agregar fotos mostrando mas sobre el servicios   </p>





  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">aca otro mensaje descriptivo -------------------------------------------</p>
            </div>
          </div>
        </div>
      </div>
    </section>







    {% endblock %}


    